################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Panacea/v15/Server/sqlite3
/Panacea/bin/Debug
/Upstaller/bin/Debug
/Upstaller/obj/Debug
/Panacea/obj/Debug
/Panacea/bin/x64/Debug
/Panacea/obj/x64/Debug
/Panacea/bin/x64/Release
/Panacea/obj/x64/Release
/Upstaller/bin/Release
/Upstaller/obj/Release
*.nupkg
*.dll
*.json
*.props
*.xml
*.targets
/packages
/Upstaller/bin/x64
/Upstaller/obj/x64
